:root {
  // ----- COLOURS

  // Neutral Colours
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-300: 210, 4%, 67%;
  --color-neutral-500: 232, 10%, 55%;
  --color-neutral-700: 213, 9%, 39%;
  --color-neutral-900: 212, 27%, 19%;

  // Theme
  --color-theme-soft-red: 7, 99%, 70%;
  --color-theme-yellow: 51, 100%, 49%;

  // ----- FONTS

  // Font Sizes
  --fs-100: 0.875rem; // 14px
  --fs-200: 0.9375rem; // 15px
  --fs-300: 1rem; // 16px
  --fs-400: 1.125rem; // 18px
  --fs-500: 1.25rem; // 20px
  --fs-600: 1.75rem; // 28px
  --fs-700: 2rem; // 32px
  --fs-800: 2.5rem; // 40px
  --fs-900: 3.5rem; // 56px

  // Font Weight
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  // Font Family
  --ff-barlow: 'Barlow', sans-serif;
  --ff-fraunces: 'Fraunces', serif;

  // ----- TYPOGRAPHY

  // Leading
  --leading-250: 1.5625rem; // 25px
  --leading-270: 1.6875rem; // 27px
  --leading-300: 1.875rem; // 30px
  --leading-320: 2rem; // 32px

  // Copy
  --copy-font: var(--fw-semibold) var(--fs-400) var(--ff-barlow);
  --copy-tracking: -0.13px;
  --copy-leading: var(--leading-300);
  --copy-color: hsl(var(--color-neutral-500));

  // Headings
  --heading-fw: var(--fw-black);
  --heading-ff: var(--ff-fraunces);

  // ----- LINKS
  --link-decoration: none;
  --link-decoration-active: none;
  --link-color: hsl(var(--color-neutral-900));
  --link-color-active: var(--link-color);
  --link-transition: 200ms ease-in-out all;

  // ----- COMPONENTS

  // Buttons
  --btn-ff: var(--ff-fraunces);
  --btn-fs: var(--fs-200);

  // Menu Button
  --btn-menu-tracking: -0.11px;
  --btn-menu-radius: 99vw;
  --btn-menu-padding: 0.5rem 2rem;

  // Mobile Menu Button
  --btn-menu-mobile-bg: hsla(var(--color-theme-yellow), 1);
  --btn-menu-mobile-bg-active: hsla(var(--color-theme-yellow), 0.5);

  // Desktop Menu Button
  --btn-menu-desktop-color: hsl(var(--color-neutral-900));
  --btn-menu-desktop-color-active: hsl(var(--color-neutral-100));
  --btn-menu-desktop-bg: hsla(var(--color-neutral-100));
  --btn-menu-desktop-bg-active: hsla(var(--color-neutral-100), 0.25);

  // Link Button
  --btn-link-radius: 99vw;
  --btn-link-padding-inline: 0.5rem;
  --btn-link-transform: translateY(0.35rem);
  --btn-link-height: 0.625rem;
}
