:root {
  // Neutral Colours
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-300: 210, 4%, 67%;
  --color-neutral-500: 232, 10%, 55%;
  --color-neutral-700: 213, 9%, 39%;
  --color-neutral-900: 212, 27%, 19%;

  // Theme
  --color-theme-soft-red: 7, 99%, 70%;
  --color-theme-yellow: 51, 100%, 49%;
}
