:root {
  // ----- COLOURS

  // Neutral Colours
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-150: 34, 100%, 99%;
  --color-neutral-300: 210, 4%, 67%;
  --color-neutral-500: 232, 10%, 55%;
  --color-neutral-700: 213, 9%, 39%;
  --color-neutral-900: 212, 27%, 19%;

  // Theme
  --color-theme-soft-red: 7, 99%, 70%;
  --color-theme-yellow: 51, 100%, 49%;

  --body-bg: hsl(var(--color-neutral-150));

  // ----- FONTS

  // Font Sizes
  --fs-100: 0.875rem; // 14px
  --fs-200: 0.9375rem; // 15px
  --fs-300: 1rem; // 16px
  --fs-400: 1.125rem; // 18px
  --fs-500: 1.25rem; // 20px
  --fs-600: 1.75rem; // 28px
  --fs-700: 2rem; // 32px
  --fs-800: 2.5rem; // 40px
  --fs-900: 3.5rem; // 56px

  // Font Weight
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  // Font Family
  --ff-barlow: 'Barlow', sans-serif;
  --ff-fraunces: 'Fraunces', serif;

  // ----- TYPOGRAPHY

  // Leading
  --leading-250: 1.5625rem; // 25px
  --leading-270: 1.6875rem; // 27px
  --leading-300: 1.875rem; // 30px
  --leading-320: 2rem; // 32px

  // Copy
  --copy-font: var(--fw-semibold) var(--fs-400) var(--ff-barlow);
  --copy-tracking: -0.13px;
  --copy-leading: var(--leading-300);
  --copy-color: hsl(var(--color-neutral-500));

  // Headings
  --heading-fw: var(--fw-black);
  --heading-ff: var(--ff-fraunces);

  // ----- LINKS
  --link-decoration: none;
  --link-decoration-active: none;
  --link-color: hsl(var(--color-neutral-900));
  --link-color-active: var(--link-color);
  --link-transition: 200ms ease-in-out all;

  // ----- COMPONENTS

  // Buttons
  --btn-ff: var(--ff-fraunces);
  --btn-fs: var(--fs-200);
  --btn-transition: var(--link-transition);

  // Menu Button
  --btn-menu-tracking: -0.11px;
  --btn-menu-color: hsl(var(--color-neutral-900));
  --btn-menu-bg: hsla(var(--color-theme-yellow), 1);
  --btn-menu-bg-active: hsla(var(--color-theme-yellow), 0.5);
  --btn-menu-radius: 99vw;
  --btn-menu-padding: 0.5rem 2rem;

  @media (min-width: 90em) {
    --btn-menu-color-active: hsl(var(--color-neutral-100));
    --btn-menu-bg: hsla(var(--color-neutral-100), 1);
    --btn-menu-bg-active: hsla(var(--color-neutral-100), 0.25);
  }

  // Link Button
  --btn-link-radius: 99vw;
  --btn-link-padding-inline: 0.5rem;
  --btn-link-transform: translateY(0.35rem);
  --btn-link-height: 0.625rem;

  --btn-link-style-soft-red: hsla(var(--color-theme-soft-red), 0.25);
  --btn-link-style-soft-red-active: hsla(var(--color-theme-soft-red), 1);

  --btn-link-style-yellow: hsla(var(--color-theme-yellow), 0.25);
  --btn-link-style-yellow-active: hsla(var(--color-theme-yellow), 1);

  // ----- LAYOUT

  // Wrapper
  --wrapper-max-width: 20.4375rem; // 327px

  @media (min-width: 48em) {
    --wrapper-max-width: 35.8125rem; // 573px
  }

  @media (min-width: 90em) {
    --wrapper-max-width: 69.375rem; // 1110px
  }

  // Header
  --header-bg-img: url('../assets/images/mobile/image-header.jpg');
  --header-bg: hsl(197, 76, 56);
  --header-padding-top: 2rem;
  --header-branding-width: 7.75rem; // 124px

  @media (min-width: 48em) {
    --header-branding-width: 10.625rem; // 170px
    --header-bg-img: url('../assets/images/desktop/image-header.jpg');
  }

  @media (max-width: 89.98em) {
    --header-menu-top-pos: 6.75rem;
    --header-menu-bg: hsl(var(--color-neutral-150));
    --header-menu-item-fs: var(--fs-500);
    --header-menu-item-color: hsl(var(--color-neutral-300));
  }

  @media (min-width: 90em) {
    --header-menu-col-gap: 2.9375rem;
    --header-menu-item-fs: var(--fs-200);
    --header-menu-item-color: hsl(var(--color-neutral-100));
  }

  // Header Hero
  --header-hero-margin-top: 5.5rem; // 88px
  --header-hero-height: 23.4375rem; // 538px
  --header-hero-img-margin-top: 3.25rem; // 52px

  --header-hero-heading-fs: var(--fs-800);
  --header-hero-heading-tracking: 0.390625rem;
  --header-hero-color: hsl(var(--color-neutral-100));

  @media (min-width: 48em) {
    --header-hero-margin-top: 7.25rem; // 116px
    --header-hero-height: 50rem; // 800px
    --header-hero-heading-fs: var(--fs-900);
    --header-hero-img-margin-top: 6rem; // 96px
  }

  // Features
  --features-content-padding: 4rem 1.5rem;
  --features-content-row-gap: 1.5rem;

  --features-content-heading-fs: var(--fs-700);
  --features-content-heading-leading: 1.25;
  --features-content-heading-color: hsl(var(--color-neutral-900));

  @media (min-width: 48em) {
    --features-content-padding: 0 1rem;
    --features-content-max-width: 27.8125rem;
    --features-content-row-gap: 2rem;
  }

  @media (min-width: 90em) {
    --features-content-heading-fs: var(--fs-800);
  }
}
