@use '../abstracts' as abstract;

.btn {
  @include abstract.flex;

  text-transform: uppercase;
  font-size: var(--btn-fs);
  font-family: var(--btn-ff);
  width: fit-content;
}

.btn-menu {
  letter-spacing: var(--btn-menu-tracking);
  border-radius: var(--btn-menu-radius);
  padding: var(--btn-menu-padding);

  &[data-btn-style='mobile'] {
    background-color: var(--btn-menu-mobile-bg);

    @include abstract.hover-focus-within {
      background-color: var(--btn-menu-mobile-bg-active);
    }
  }
}
