@use '../abstracts' as abstract;

.btn {
  @include abstract.flex;

  text-transform: uppercase;
  font-size: var(--btn-fs);
  font-family: var(--btn-ff);
  width: fit-content;

  &::after {
    transition: var(--btn-transition);
  }
}

.btn-menu {
  letter-spacing: var(--btn-menu-tracking);
  color: var(--btn-menu-color);
  background-color: var(--btn-menu-bg);
  border-radius: var(--btn-menu-radius);
  padding: var(--btn-menu-padding);

  @include abstract.hover-focus-within {
    color: var(--btn-menu-color-active);
    background-color: var(--btn-menu-bg-active);
  }
}

.btn-link {
  padding-inline: var(--btn-link-padding-inline);
  position: relative;

  &::after {
    content: '';
    border-radius: var(--btn-link-radius);
    height: var(--btn-link-height);
    z-index: -999;
    position: absolute;
    transform: var(--btn-link-transform);
    width: 100%;
  }

  &[data-btn-style='soft-red'] {
    &::after {
      background-color: var(--btn-link-style-soft-red);
    }

    @include abstract.hover-focus-within {
      &::after {
        background-color: var(--btn-link-style-soft-red-active);
      }
    }
  }

  &[data-btn-style='yellow'] {
    &::after {
      background-color: var(--btn-link-style-yellow);
    }

    @include abstract.hover-focus-within {
      &::after {
        background-color: var(--btn-link-style-yellow-active);
      }
    }
  }
}
