@use '../abstracts' as abstract;

.header-primary {
  background-color: var(--header-bg);
  padding-top: var(--header-padding-top);

  &__wrapper {
    @include abstract.flex;
    justify-content: space-between;
  }

  &__toggle {
    cursor: pointer;
    background: transparent;
    border: 0;
    display: none;

    @media (max-width: 89.98em) {
      display: block;
    }
  }

  &__menu {
    @media (max-width: 89.98em) {
      display: none;
      position: absolute;
      width: 100%;

      &[data-visible] {
        @include abstract.flex;

        top: var(--header-menu-top-pos);
        background-color: var(--header-menu-bg);

        &::before {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          right: 0;
          top: -1.5rem;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;
          border-right: 30px solid hsl(var(--color-neutral-150));
          z-index: -1;
        }
      }
    }

    @media (min-width: 90em) {
      margin-inline: unset;
    }

    &-items {
      a {
        color: var(--header-menu-item-color);
        font-size: var(--header-menu-item-fs);
      }

      @media (max-width: 89.99em) {
        padding-bottom: 2rem;

        li {
          text-align: center;
          margin-top: 2rem;
        }
      }

      @media (min-width: 90em) {
        display: inline-flex;
        align-items: center;
        column-gap: var(--header-menu-col-gap);
      }
    }
  }
}
