@use '../abstracts' as abstract;

.testimonials {
  text-align: center;
  padding-block: var(--testimonials-padding-block);

  .heading {
    font-size: var(--testimonials-heading-fs);
    letter-spacing: var(--testimonials-heading-tracking);
  }

  blockquote {
    color: var(--testimonials-blockquote-color);
    display: flex;
    flex-direction: column;
    gap: var(--testimonials-blockquote-gap);

    img {
      border-radius: var(--testimonials-img-radius);
      margin-inline: auto;
      width: var(--testimonials-img-size);
      height: var(--testimonials-img-size);
    }

    footer {
      font-size: var(--testimonials-author-fs);
      font-family: var(--testimonials-author-ff);
      letter-spacing: var(--testimonials-author-tracking);
      color: var(--testimonials-author-color);
      display: flex;
      flex-direction: column;

      cite {
        font-size: var(--testimonials-author-cite-fs);
        font-family: var(--testimonials-author-cite-ff);
        color: var(--testimonials-author-cite-color);
      }
    }
  }

  &__row {
    margin-top: var(--testimonials-row-margin-top);
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--testimonials-row-gap);

    @media (min-width: 90em) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
